<div class="d-flex justify-content-center bg-black">
    <ul class="d-flex gap-3 list-unstyled mt-2">
        <li class ="fs-5 fw-medium text-light">
            <a class="text-decoration-none text-warning" href="#">KSRTC</a>
        </li>
        <li class ="fs-5 fw-medium text-light"> 
            <a class="text-decoration-none text-info" href="#">BMTC</a>
        </li>
        <li class ="fs-5 fw-medium text-light"> 
            <a class="text-decoration-none text-success" href="#">NAMMA METRO</a>
        </li>
    </ul>
</div>
